#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.header {
  position: fixed;              /* 👈 bleibt immer oben */
  top: 0;                       /* an den oberen Rand setzen */
  left: 0;
  width: 100%;                  /* volle Seitenbreite */
  z-index: 1000;

  background: linear-gradient(135deg, #5f95ff, #3a6ff7); /* schöner Verlauf */
  min-height: 10vh; /* etwas größer für Präsenz */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 0;
  font-size: 0.5rem; /* klarere Größe statt calc() */
  font-weight: 50;
  color: #fff;
  text-shadow: 0 2px 6px rgba(0, 0, 0, 0.2); /* Text leicht betont */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15); /* dezenter Schatten unten */
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  letter-spacing: 0.5px;

}




.card {
  margin-top: 60px; /* genau so hoch wie der Header */
  padding: 20px;
  align-items: center;

}

.button {
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  margin: 10px;
  font-size: 16px;
  color: white;
  will-change: filter;
  transition: filter 100ms;
}
.button:hover {
  filter: drop-shadow(0 0 1em #646cffaa);
}

.Players {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;

}

