:root {
  font-family: system-ui, -apple-system, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* Lightmode erzwingen */
  color: #213547;
  background-color: #f0f2f5; 
}

body {
  margin: 0;
  min-height: 100vh;
  /* Kein display: flex hier, damit das Layout oben startet */
}

button {
  border: none;
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #3a6ff7; /* Blaues Design */
  cursor: pointer;
  transition: background-color 0.25s, border-color 0.25s;
}

/* Hover-Effekt: Wird etwas dunkler */
button:hover {
  background-color: #2851c5;
  
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #5f95ff;
  }
}
